<style>
  body {
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
</style>

<div class="container-fluid">
  <div class="mx-auto p-4">
    <header class="pb-3 mb-5 border-bottom">
      <div class="row">
        <div class="col-auto">
          <a href="/">
            <%= image_tag("mockr.svg", height: 55, class: "mb-2") %>
          </a>
        </div>
        <div class="col-auto">
          <button
            class="btn btn-secondary btn-sm mt-3"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#mockrOffcanvas"
            aria-controls="mockrOffcanvas"
          >
            <i class="bi bi-three-dots align-middle"></i>
          </button>
        </div>
        <div class="col">
          <ul class="nav justify-content-end mt-2">
            <li class="nav-item border-end border-black">
              <a class="nav-link disabled text-black">
                <i class="bi bi-<%= current_user_icon %> align-middle me-1"></i>
                <span class="align-middle"><%= current_user.provider_username %></span>
                <span class="badge text-bg-primary ms-1"><%= current_user.role %></span>
              </a>
            </li>
            <li class="nav-item">
              <%= link_to("Logout", logout_path, class: "nav-link align-middle") %>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main>
      <div class="row">
        <div class="col-auto">
          <h2 class="text-body-emphasis">Endpoints</h2>
        </div>
        <div class="col">
          <%=
            form_tag(
              clients_path,
              method: "get",
              data: {
                turbo_frame: "clients",
                controller: "search-form",
              }
            ) do
          %>
            <div class="input-group mb-3 w-100">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-search"></i>
              </span>
              <input
                type="text"
                class="form-control"
                name="q"
                maxlength="50"
                cols="50"
                data-search-form-target="textInput"
                data-action="keyup->search-form#submit"
              />
              <a
                class="btn btn-outline-secondary"
                data-action="click->search-form#clear"
              >
                <i class="bi bi-x-lg"></i>
              </a>
            </div>
          <% end %>
        </div>
        <div class="col-auto">
          <% if current_user.manager? %>
            <a href="<%= avo_path %>" data-turbo="false" class="btn btn-primary">
              <i class="bi bi-gear"></i>
              Manage
            </a>
          <% end %>
        </div>
      </div>

      <%= turbo_frame_tag "clients", src: clients_path %>
    </main>

    <footer class="text-center border-top pt-5 mt-5">
      <a
        href="https://github.com/ricardobucho/mockr"
        class="link-secondary text-decoration-none"
        target="_blank"
      >
        <i
          class="bi bi-github"
          style="font-size: 1.5rem;"
        ></i>
      </a>
    </footer>
  </div>
</div>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="mockrOffcanvas"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Welcome to Mockr!</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <p>
      Mockr is a simple tool for creating mock API endpoints and responses.
      On the Endpoints dashboard you can see all available endpoints and
      their responses. You can also search for endpoints and responses by
      name or any other attribute.
    </p>
    <% if ENV.fetch("GITHUB_ORGANIZATION", nil).present? %>
      <div class="alert alert-secondary d-flex align-items-center" role="alert">
        <div>
          Organizational restriction is active. Only members of
          <code><%= ENV.fetch("GITHUB_ORGANIZATION") %></code> can login,
          manage endpoints and responses and make requests to the application.
        </div>
      </div>
    <% end %>
    <div class="card mt-2">
      <div class="card-body">
        <p>
          Use the <code>token</code> below to be able to make requests
          to the API. You can regenerate it at any time but remember to update
          your client applications.
        </p>
        <ul class="list-group ">
          <li class="list-group-item">
            <b class="align-middle">Authorization</b>
            <span class="badge bg-secondary ms-1">HEADER</span>
          </li>
          <li class="list-group-item">
            <%= render "user/regenerate_token" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
