<div class="col mb-3">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <i
            class="bi bi-collection-fill me-1 align-top"
            data-bs-toggle="tooltip"
            data-bs-title="Index"
          ></i>
          <%= index.name %>
        </div>
        <div class="col-auto">
          <% if current_user.manager? %>
            <div class="btn-group align-middle" role="group">
              <a
                href="<%= avo.resources_index_path(index.id) %>"
                class="btn btn-sm btn-outline-secondary"
                target="_blank"
                data-bs-toggle="tooltip"
                data-bs-title="View in Manager"
              >
                <i class="bi bi-eye"></i>
              </a>
              <a
                href="<%= avo.edit_resources_index_path(index.id) %>"
                class="btn btn-sm btn-outline-secondary"
                target="_blank"
                data-bs-toggle="tooltip"
                data-bs-title="Edit in Manager"
              >
                <i class="bi bi-pencil"></i>
              </a>
            </div>
          <% end %>
          <div class="btn-group align-middle" role="group">
            <a
              href="<%= show_index_path(index.id) %>"
              class="btn btn-sm btn-primary"
              data-bs-toggle="tooltip"
              data-bs-title="Template"
              data-turbo-frame="modal"
            >
              <i class="bi bi-code-slash"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="badge bg-<%= method_class_map[request.method] %> align-middle">
          <%= request.method %>
        </span>
        <span class="fst-italic align-middle">
          /<%= client.slug %><%= index.path unless index.path == "/" %>
        </span>
      </li>
    </ul>
  </div>
</div>
