<div class="col">
  <div class="d-flex w-100 bg-light p-3">
    <div class="col">
      <div class="fw-semibold">
        <i
          class="bi bi-regex me-1 align-top"
          data-bs-toggle="tooltip"
          data-bs-title="Index"
        ></i>
        <%= index.name %>
      </div>
      <div class="mt-1">
        <span class="badge bg-<%= method_class_map[request.method] %> align-middle">
          <%= request.method %>
        </span>
        <span class="fst-italic align-middle">
          /<%= client.slug %><%= index.path %>
        </span>
      </div>
      <div class="mt-2">
        <% index.properties.sort.each do |(key, value)| %>
          <div>
            <span
              class="badge bg-secondary align-middle"
              data-bs-toggle="tooltip"
              data-bs-title="Property"
            >
              <%= key %>
            </span>
            <span class="align-middle">
              <%= value %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
