<%= turbo_frame_tag "modal" do %>
  <% render "shared/modal_content", title: "Request Logs" do %>
    <h6>
      <%= @request.client.name %>
      <i class="bi bi-chevron-right"></i>
      <b class="text-muted"><%= @request.name %></b>
    </h6>
    <hr />
    <% if @logs.empty? %>
      <div class="alert alert-warning d-flex align-items-center m-0" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div>
          There are no logs for this request.
        </div>
      </div>
    <% end %>
    <% @logs.each.with_index do |log, index| %>
      <ul class="list-group <%= index == 0 ? "" : "mt-3" %> log-entry">
        <li class="list-group-item">
          <div class="row">
            <div class="col-2 text-end fw-bold">
              Entry
            </div>
            <div class="col-10">
              <%= log["created_at"] %>#<%= log["id"] %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-2 text-end fw-bold">
              Request
            </div>
            <div class="col-10">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-2 text-end fw-bold">
                      IP
                    </div>
                    <div class="col-10">
                      <% if log["request_ip?"] %>
                        <%= log["request_ip"] %>
                      <% else %>
                        -
                      <% end %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-2 text-end fw-bold">
                      Agent
                    </div>
                    <div class="col-10">
                      <% if log["request_user_agent?"] %>
                        <%= log["request_user_agent"] %>
                      <% else %>
                        -
                      <% end %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-2 text-end fw-bold">
                      Parameters
                    </div>
                    <div class="col-10">
                      <% if log["request_params?"] %>
                        <% log["request_params"].each do |key, value| %>
                          <span class="badge bg-secondary">
                            <%= key %>: <%= value %>
                          </span>
                        <% end %>
                      <% else %>
                        -
                      <% end %>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-2 text-end fw-bold">
              Response
            </div>
            <div class="col-10">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-2 text-end fw-bold">
                      Name
                    </div>
                    <div class="col-10">
                      <%= log["response_name"] %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-2 text-end fw-bold">
                      Status
                    </div>
                    <div class="col-10">
                      <%= log["response_status"] %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-2 text-end fw-bold">
                      Throttle
                    </div>
                    <div class="col-10">
                      <%= log["response_throttle"] %>ms
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-2 text-end fw-bold">
                      Headers
                    </div>
                    <div class="col-10">
                      <% if log["response_headers?"] %>
                        <% log["response_headers"].each do |key, value| %>
                          <span class="badge bg-secondary">
                            <%= key %>: <%= value %>
                          </span>
                        <% end %>
                      <% else %>
                        -
                      <% end %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-2 text-end fw-bold">
                      Conditions
                    </div>
                    <div class="col-10">
                      <% if log["response_conditions?"] %>
                        <% log["response_conditions"].each do |key, value| %>
                          <span class="badge bg-secondary">
                            <%= key %>: <%= value %>
                          </span>
                        <% end %>
                      <% else %>
                        -
                      <% end %>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>
