<%= turbo_frame_tag "modal" do %>
  <% render "shared/modal_content", title: "Response" do %>
    <h6>
      <%= @response.request.client.name %>
      <i class="bi bi-chevron-right"></i>
      <%= @response.request.name %>
      <i class="bi bi-chevron-right"></i>
      <b class="text-muted"><%= @response.name %></b>
    </h6>
    <hr />
    <pre class="code-display"><code data-controller="highlight" class="language-<%= @response.format %>"><%= @response.body %></code></pre>
  <% end %>
<% end %>
